<a href="https://colab.research.google.com/github/sushanttwayana/Python-Modules/blob/main/Working_With_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pandas -> used for manupulating tables
# Datastructure -> Series and DataFrame

In [ ]:
# ======================================series is used for 1D array===============================
# Working with series in Pandas

import pandas as pd

data = pd.Series([0.25, 0.5 , 0.75, 1])

print(data)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [ ]:
# Explicitly assign index

data = pd.Series([0.25, 0.5 , 0.75, 1], index = ['a', 'b', 'c', 'd' ])

print(data)
print(data['d'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
1.0

In [ ]:
# work as a dictionary

popn_dict = {
    'Nepal' : 42356000,
    'China' : 112213234233,
    'India' : 67434242342,
    'Maldives' : 10000000,
}

population = pd.Series(popn_dict)
print(population)

print(population['Nepal'])

Nepal           42356000
China       112213234233
India        67434242342
Maldives        10000000
dtype: int64
42356000

In [ ]:
# Working with series in Pandas

s1 = pd.Series([10, 20, 30, 40, 50], index = ['a', 'b', 'c', 'd', 'e'])
print(s1[2])
print(s1['c'])
print("\n")

s3 = s1 + 5
print(s3)
print("\n")

# filtering

s2 = s1[s1 >= 30]
print(s2)

30
30


a    15
b    25
c    35
d    45
e    55
dtype: int64


c    30
d    40
e    50
dtype: int64

In [ ]:
# ============================================ Combining Pandas with Numpy ============================

import numpy as np

arr = np.array([10, 20, 30, 40 ,50])
print(arr)
print("\n")

s = pd.Series(arr)
print(s)
print("\n")

t = np.sqrt(s)
print(t)

[10 20 30 40 50]


0    10
1    20
2    30
3    40
4    50
dtype: int64


0    3.162278
1    4.472136
2    5.477226
3    6.324555
4    7.071068
dtype: float64

In [ ]:
# Customize index using numpy for series

index = np.array(['a', 'b', 'c', 'd', 'e'])
arr   = np.array([2, 4, 6, 8 ,10])

s = pd.Series(arr, index = index)
print(s)

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [ ]:
# ==== Find the number of elements in series
import pandas as pd

s1 = pd.Series([10, 100, 1000, 10000, 100000])

print("Series is:",s1)
print("Size of the series is:",s1.size)

Series is: 0        10
1       100
2      1000
3     10000
4    100000
dtype: int64
Size of the series is: 5

In [ ]:
# average of elements in a series

import pandas as pd

s1 = pd.Series([10, 100, 1000, 10000, 100000])

print("Average of the given series is :", s1.mean())

print("Maximum value in the series is :", s1.max())
print("Manimum value in the series is :", s1.min())

Average of the given series is : 22222.0
Maximum value in the series is : 100000
Manimum value in the series is : 10

In [ ]:
#Sorting a series

s = pd.Series([9, 6, 4, 8, 1, 3])

print("Original Series is : \n", s)
print("Sorted Series is : \n", s.sort_values())

Original Series is :
 0    9
1    6
2    4
3    8
4    1
5    3
dtype: int64
Sorted Series is :
 4    1
5    3
2    4
1    6
3    8
0    9
dtype: int64

In [ ]:
# Displaying unique values in the series

s = pd.Series([9, 6, 4, 8, 1, 1, 6, 4])
s1 = s.unique()
print(s1)

# nunique() -> number of unique elements

n = s.nunique()
print(n)

[9 6 4 8 1]
5

In [ ]:
# Statistics summary of a series
# describe() -> complete statistics of a  series

import pandas as pd

s = pd.Series([50, 60, 70 ,80 ,90])

print(s.describe())

count     5.000000
mean     70.000000
std      15.811388
min      50.000000
25%      60.000000
50%      70.000000
75%      80.000000
max      90.000000
dtype: float64

In [ ]:
#======================Creating Dataframes from series ===================================

import pandas as pd

s = pd.Series(['a', 'b', 'c', 'd'])

df = pd.DataFrame(s)
print(df)

   0
0  a
1  b
2  c
3  d

In [ ]:
import pandas as pd

f_name = pd.Series(['Sushant', 'Sumina'])
l_name = pd.Series(['Twayana', 'Awa'])

dic = {'First Name':f_name, 'Last Name':l_name}
df = pd.DataFrame(dic)
print(df)

  First Name Last Name
0    Sushant   Twayana
1     Sumina       Awa

In [1]:
# Creating datafrmaes from the list of dictionaries

import pandas as pd


l = [{'Name': 'Sachin', 'Subject' : 'Engineering'},
     {'Name': 'Radha', 'Subject': 'MBBS'},
     {'Name': 'Ram', 'Subject': 'IT'},]

df = pd.DataFrame(l)

print(df)

     Name      Subject
0  Sachin  Engineering
1   Radha         MBBS
2     Ram           IT

In [4]:
# Accessing Data rowwise
# iterrows()

import pandas as pd


l = [{'Name': 'Sachin', 'Subject' : 'Engineering'},
     {'Name': 'Radha', 'Subject': 'MBBS'},
     {'Name': 'Ram', 'Subject': 'IT'},]

df = pd.DataFrame(l)

print(df)

for (row_index, row_value) in df.iterrows() :

  print("\n")
  print("Row Index is:", row_index)
  print("Row Value is:", row_value)

     Name      Subject
0  Sachin  Engineering
1   Radha         MBBS
2     Ram           IT


Row Index is: 0
Row Value is: Name            Sachin
Subject    Engineering
Name: 0, dtype: object


Row Index is: 1
Row Value is: Name       Radha
Subject     MBBS
Name: 1, dtype: object


Row Index is: 2
Row Value is: Name       Ram
Subject     IT
Name: 2, dtype: object

In [5]:
# Accessing Data Column wise
# iteritems()

import pandas as pd


l = [{'Name': 'Sachin', 'Subject' : 'Engineering'},
     {'Name': 'Radha', 'Subject': 'MBBS'},
     {'Name': 'Ram', 'Subject': 'IT'},]

df = pd.DataFrame(l)

print(df)

for (col_index, col_value) in df.iteritems() :

  print("\n")
  print("Column Index is:", col_index)
  print("Column Value is:", col_value)

     Name      Subject
0  Sachin  Engineering
1   Radha         MBBS
2     Ram           IT


Column Index is: Name
Column Value is: 0    Sachin
1     Radha
2       Ram
Name: Name, dtype: object


Column Index is: Subject
Column Value is: 0    Engineering
1           MBBS
2             IT
Name: Subject, dtype: object

<ipython-input-5-4218a940dacf>:15: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (col_index, col_value) in df.iteritems() :

In [16]:
# ADD Rename and Delete Column

import pandas as pd

s = pd.Series([10, 20 , 30, 40, 50])
df = pd.DataFrame(s)
# print(df)

# adding column name to the list
df.columns = ['List1']
# print(df)

# Adding another list
df['List2'] = 20 # same value over the list
# print(df)

df["List3"] = df["List1"] + df ["List2"]
# print(df)

# delete column

del df['List3']
# OR use df.pop["List3"]
print(df)

   List1  List2
0     10     20
1     20     20
2     30     20
3     40     20
4     50     20

In [21]:
# Delete column using drop


import pandas as pd

s = pd.Series([10, 20 , 30, 40, 50])
df = pd.DataFrame(s)
# print(df)

# adding column name to the list
df.columns = ['List1']
# print(df)

# Adding another list
df['List2'] = 20 # same value over the list
# print(df)

df["List3"] = df["List1"] + df ["List2"]
print(df)

# axis = 1 represents droping column wise
# axis = 0 represents dropping row wise
df1 = df.drop("List2",axis = 1)
print(df1)

# df2 = df.drop("List3", axis = 1)
# print(df2)

# drop index 2 and 3 rows data
df3 = df.drop(index = [2,3], axis = 0)
print(df3)

   List1  List2  List3
0     10     20     30
1     20     20     40
2     30     20     50
3     40     20     60
4     50     20     70
   List1  List3
0     10     30
1     20     40
2     30     50
3     40     60
4     50     70
   List1  List2  List3
0     10     20     30
1     20     20     40
4     50     20     70

In [25]:
# assigning boolean indexing in data frame

import pandas as pd

dic = {"Name ":['Hari', 'Ram' , 'Shyam'], "Age" : [45, 55, 52]}

df = pd.DataFrame(dic)
print(df)
print("\n")

df1 = pd.DataFrame(dic, index = [True, False, True])
print(df1)
print("\n")

# Display only index having true Value
print(df1.loc[True])

   Name   Age
0   Hari   45
1    Ram   55
2  Shyam   52


       Name   Age
True    Hari   45
False    Ram   55
True   Shyam   52


      Name   Age
True   Hari   45
True  Shyam   52

In [30]:
# Concatenation of two dataframes
import pandas as pd

dict1 = {"Id" : [1, 2], "Name" : ['Mohan', 'Ritika']}
df1 = pd.DataFrame(dict1)
print("The df1 is:\n", df1)
print("\n")

dict2 = {"Id" : [13, 1, 15], "Name" : ["Sara", "Sehek", "Zalema"]}
# dict2 = {"Id" : [3, 4, 5], "Name" : ["Sara", "Sehek", "Zalema"]}
df2 = pd.DataFrame(dict2)
print("The df2 is:\n", df2)
print("\n")

df3 = pd.concat([df1, df2])
print("The df3 is:\n", df3)

The df1 is:
    Id    Name
0   1   Mohan
1   2  Ritika


The df2 is:
    Id    Name
0  13    Sara
1   1   Sehek
2  15  Zalema


The df3 is:
    Id    Name
0   1   Mohan
1   2  Ritika
0  13    Sara
1   1   Sehek
2  15  Zalema