<a href="https://colab.research.google.com/github/sushanttwayana/Python-Modules/blob/main/Working_With_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pandas -> used for manupulating tables
# Datastructure -> Series and DataFrame

In [ ]:
# ======================================series is used for 1D array===============================
# Working with series in Pandas

import pandas as pd

data = pd.Series([0.25, 0.5 , 0.75, 1])

print(data)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [ ]:
# Explicitly assign index

data = pd.Series([0.25, 0.5 , 0.75, 1], index = ['a', 'b', 'c', 'd' ])

print(data)
print(data['d'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
1.0

In [ ]:
# work as a dictionary

popn_dict = {
    'Nepal' : 42356000,
    'China' : 112213234233,
    'India' : 67434242342,
    'Maldives' : 10000000,
}

population = pd.Series(popn_dict)
print(population)

print(population['Nepal'])

Nepal           42356000
China       112213234233
India        67434242342
Maldives        10000000
dtype: int64
42356000

In [ ]:
# Working with series in Pandas

s1 = pd.Series([10, 20, 30, 40, 50], index = ['a', 'b', 'c', 'd', 'e'])
print(s1[2])
print(s1['c'])
print("\n")

s3 = s1 + 5
print(s3)
print("\n")

# filtering

s2 = s1[s1 >= 30]
print(s2)

30
30


a    15
b    25
c    35
d    45
e    55
dtype: int64


c    30
d    40
e    50
dtype: int64

In [ ]:
# ============================================ Combining Pandas with Numpy ============================

import numpy as np

arr = np.array([10, 20, 30, 40 ,50])
print(arr)
print("\n")

s = pd.Series(arr)
print(s)
print("\n")

t = np.sqrt(s)
print(t)

[10 20 30 40 50]


0    10
1    20
2    30
3    40
4    50
dtype: int64


0    3.162278
1    4.472136
2    5.477226
3    6.324555
4    7.071068
dtype: float64

In [ ]:
# Customize index using numpy for series

index = np.array(['a', 'b', 'c', 'd', 'e'])
arr   = np.array([2, 4, 6, 8 ,10])

s = pd.Series(arr, index = index)
print(s)

a     2
b     4
c     6
d     8
e    10
dtype: int64